*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
#root{
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
}
a{
    text-decoration: none;
    color: #4777F9;
}
a:hover{
    cursor: pointer;
text-decoration: underline;
}