main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1{
        font-size: 40px;
    }
    .btns{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 5px;

     button{
        padding: 5px 20px;
        border-radius: 5px;
        border: none;
        font-size: 15px;
        background-color: whitesmoke;
        cursor: pointer;
     &:active{
       transform: scale(0.97);
     }
     a{
        text-decoration: none;
      }
     }
    }
}