*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  background-color: rgb(19, 19, 19);
}
.notes{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.note{
  background-color: rgb(134, 134, 134);
  color: whitesmoke;
  max-width: 20rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.note-create-form{
  padding: 1.2rem;
  display: flex;
  gap: 0.2rem;
}
.note-create-form input{
  padding: 0.5rem;
  border-radius: 0.2rem;
}